.logo_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 3px;
}

.tagline {
    margin: 0;
    font-size: 13px;
    font-style: italic;
    color: #666;
}

.input_box {
    position: relative;
    margin: 20px 0;
}

.input_box input {
    width: 100%;
    padding: 12px 45px 12px 16px;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    font-weight: 500;
    color: #333;

    background: #eee;
    outline: none;
}

.input_box input::placeholder {
    font-weight: 400;
    color: #888;
}

.input_box .icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    color: #888;
}

.eye_button {
    cursor: pointer;

    position: absolute;
    z-index: 10;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    background: none;
}

.eye_icon {
    color: #888;
    transition: color 0.3s ease;
}

.eye_button:hover .eye_icon {
    color: #38E47A;
}

.btn {
    cursor: pointer;

    width: 100%;
    height: 42px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    font-weight: 600;
    color: #fff;

    background: #38E47A;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

    transition: all 0.3s ease;
}

.btn:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgb(56 228 122 / 30%);
}

.btn:disabled {
    cursor: not-allowed;
    transform: none;
    opacity: 0.6;
}

.error_message {
    display: flex;
    gap: 8px;
    align-items: center;

    margin-bottom: 15px;
    padding: 12px 16px;
    border-radius: 8px;

    font-size: 14px;
    color: #c33;

    background-color: #fee;
}

.error_icon {
    flex-shrink: 0;
}

.social_icons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.social_icons a {
    display: inline-flex;

    padding: 10px;
    border: 2px solid #38E47A;
    border-radius: 8px;

    font-size: 24px;
    color: #38E47A;

    transition: all 0.3s ease;
}

.social_icons a:hover {
    transform: translateY(-3px);
    color: #fff;
    background: #38E47A;
}