:global(body) {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: Poppins, sans-serif !important;

  background: #fff !important;
}

:global(.icon-btn) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  border: 1px solid #e5e7eb;
  border-radius: 9999px;

  background: #fff;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
}

.mapHeader {
  padding: 24px 64px 0 96px;
  background: #fff;
}

.mapTitle {
  margin: 0;

  font-family: Poppins, sans-serif;
  font-size: 43px;
  font-weight: 600;
  color: #111827;
}

.mapContent {
  overflow-y: auto;
  flex: 1;

  height: auto;
  max-height: calc(100vh - 200px);
  padding: 0 64px 48px 96px;

  background: transparent;
}