.mapContainer {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  border-radius: 12px;

  background: #f6f8f7;
}

.mapHeader {
  padding: 24px 64px 0 96px;
  border-radius: 12px;
  background: #f6f8f7;
}

.mapTitle {
  margin: 0;

  font-family: Poppins, sans-serif;
  font-size: 43px;
  font-weight: 600;
  color: #111827;
}

.mapContent {
  overflow-y: auto;
  flex: 1;

  height: auto;
  max-height: calc(100vh - 200px);
  padding: 0 64px 48px 96px;

  background: transparent;
}