.auth_header {
    text-align: center;
    margin-bottom: 2rem;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #111;
    margin-bottom: 0.5rem;
    margin-top: 10px;
}

.titleSection {
    margin-top: 1.5rem;
}

.title {
    font-size: 31px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.5rem;
    margin-top: 10px;
    color: #1f2937;
    text-align: center;
}

.subtitle {
    color: #6b7280;
    font-size: 13px;
    margin-bottom: 1.5rem;
    margin-top: 5px;
    text-align: center;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.logo img {
    max-width: 260px;
    height: auto;
}