body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.contenedor {
  font-family: sans-serif;
  padding: 2rem;
  margin: 0;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.botonAñadir {
  display: flex;
align-items: center;
  background-color: #38E47A;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.botonAñadir:hover {
  background-color: #2ec267;
}

.tabs {
  display: flex;
  gap: 0.5rem;
  border: none;
  border-bottom: 1px solid #ced9f0;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.tab {
  padding: 1rem 1rem;
  background: none;
  border: none;
  border-bottom: 3px solid #ddd;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 600;
  color: #333;
}

.tab:hover {
    border-bottom: 3px solid #a1a1a1 !important;
}

.tab:focus {
  outline: none;
}

.activo {
  background: white;
  color: #007bff;
  border-bottom: 3px solid #2ec267;
}

.activo:hover{
  background: white;
  color: #007bff;
  border-bottom: 3px solid #23944f !important;
}

.contenido {
  background: white;
  padding: 1.5rem;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in;
}

.iconosAcciones {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

/* ==================================== */
/* ======= Tabla de propiedades =======*/
/* ==================================== */
.tablaContainer {
  background: #f8f9fa;
  border: 1px solid #ced9f0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  margin-top: 1rem;
}

.tablaPropiedades {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.95rem;
}

.tablaPropiedades thead {
  background-color: #f8f9fa;
  color: #333;
  text-align: left;
}

.tablaPropiedades th,
.tablaPropiedades td {
  padding: 0.9rem 1rem;
    text-align: justify;
}

.tablaPropiedades th {
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}

.tablaPropiedades tr:hover {
  background-color: #f2f6ff;
  transition: background-color 0.2s ease;
}

.tablaPropiedades tbody tr:last-child td {
  border-bottom: none;
}
/* ============================================*/
/* =========== Barra de progreso =========== */
.barraCalidad {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 150px;
}


.barraContainer {
  width: 100%;
  height: 5px;
  background-color: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.barraRelleno {
  height: 100%;
  background: linear-gradient(90deg, #3b82f6, #60a5fa);
  border-radius: 10px 0 0 10px;
  transition: width 0.3s ease;
}

.portales p {
  margin: 0;
  padding: 5px;
  background-color: #ddd;
  font-weight: bold;
  color: #000000;
  border-radius: 7px;
  text-align: center;
}

.foto img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.precio  {
  color: #5c7dc5;
}

.tipo  {
  color: #5c7dc5;
}

.optionpages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #333;
}


.optionpages span{
    position: relative;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    background-color: #ced9f0;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
