.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 auto; /* Centra el formulario completo */
    width: 370px;
}

.inputs_container {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    width: 350px; /* Ancho fijo para los campos */
    max-width: 90%; /* Responsivo en móviles */
}

.remember_forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 6rem;
}

.remember_me {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #374a59;
    cursor: pointer;
}

.remember_me input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #d1d5db;
}

.forgot_password {
    font-size: 14px;
    color: #374a59;
    text-decoration: none;
}

.forgot_password:hover {
    text-decoration: underline;
}

.login_button {
    width: 100%;
    padding: 12px;
    background: #1e1e1e;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 2rem;
    transition: all 0.3s ease;
}

.login_button:hover {
    background: #000;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(45, 224, 161, 0.3);
}