.containerCard{
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  position: relative;
  min-height: 300px;
}

.time {
  position: absolute;
  right: 15px;
  top: 10px;
  background: #b2fcca;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: lighter;
}

.image {
  max-height: 200px;
  width: auto;
  margin-top: 20px;
  display: block;
}

.description {
  font-weight: 300;
  padding: 25px;
  border-top: 1px;
  font-size: 15px;
  text-align: center;
  margin-top: auto;
}