/* src/features/dashboard/components/LineChartComponent/LineChartComponent.module.css */
.graficoContainer {
  padding: 20px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.chartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chartHeader h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}


/* Selector Styles la letra semanal */
.selector {
  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;

  padding: 6px 12px;
  border-radius: 6px;

  font-size: 0.9rem;
  color: #007bff;

  background-color: #f8f9fa;

  transition: background-color 0.2s;
}

.selector:hover {
  background-color: #e9ecef;
}

.chartWrapper {
  width: 100%;
}