.logo_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 3px;
}

.tagline {
    margin: 0;
    font-size: 13px;
    font-style: italic;
    color: #666;
}

.input_box {
    position: relative;
    margin: 20px 0;
}

.input_box input {
    width: 100%;
    padding: 12px 45px 12px 16px;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    font-weight: 500;
    color: #333;

    background: #eee;
    outline: none;
}

.input_box input::placeholder {
    font-weight: 400;
    color: #888;
}

.input_box input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.input_box .icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    color: #888;
}

.location_row {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.select_box {
    position: relative;
    flex: 1;
}

.select_box select {
    cursor: pointer;

    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    font-weight: 500;
    color: #333;

    background: #eee;
    outline: none;
}

.select_box select:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.select_box select option {
    color: #333;
    background: #fff;
}

.btn {
    cursor: pointer;

    width: 100%;
    height: 42px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    font-weight: 600;
    color: #fff;

    background: #38E47A;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgb(56 228 122 / 30%);
}

.social_icons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.social_icons a {
    display: inline-flex;

    padding: 10px;
    border: 2px solid #38E47A;
    border-radius: 8px;

    font-size: 24px;
    color: #38E47A;

    transition: all 0.3s ease;
}

.social_icons a:hover {
    transform: translateY(-3px);
    color: #fff;
    background: #38E47A;
}

@media screen and (width <=768px) {
    .location_row {
        flex-direction: column;
    }
}