:global(body) {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: Poppins, sans-serif !important;

  background: #f3fff9 !important;
}

.header {
  padding: 48px 64px 20px 96px;
}

.title {
  margin: 0 0 8px;
  font-size: 44px;
  font-weight: 700;
  color: #0f172a;
}

.subtitle {
  margin: 0;
  font-size: 14px;
  color: #6b7280;
}

.mainContent {
  display: flex;
  gap: 80px;
  align-items: flex-start;

  min-height: 60vh;
  padding: 0 64px 48px 96px;
}

.sidebar {
  flex-shrink: 0;
  width: 270px;
  padding-top: 20px;
}

.sidebarTitle {
  margin-bottom: 8px;

  font-size: 12px;
  font-weight: 700;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.row {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.categoriesBox {
  width: max-content;
  margin-left: 0;
  padding: 8px 12px;
  border-radius: 6px;

  background: rgb(15 66 140 / 6%);
}

.categoryPill {
  cursor: pointer;

  display: inline-block;

  padding: 8px 12px;
  border-radius: 6px;

  color: #1b3b6f;

  background: transparent;
}

.active {
  background: #dceeff;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;

  min-height: 500px;
  margin-left: 40px;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 580px;
  min-height: 420px;
  padding: 40px 50px;
  border-radius: 8px;

  text-align: center;

  background: #fff;
  box-shadow: 0 4px 6px rgb(0 0 0 / 7%), 0 1px 3px rgb(0 0 0 / 10%);
}

.cardTitle {
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 600;
  color: #1a202c;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.cardImage {
  width: 300px;
  height: auto;
  margin: 0 0 24px;
}

.cardMessage {
  font-size: 14px;
  color: #6b7280;
  text-align: center;
}

.cardMessage p {
  margin: 0 0 8px;
}

.cardMessage p:last-child {
  margin-bottom: 0;
}

@media (width <= 768px) {
  .header {
    padding: 24px 16px;
  }
  
  .mainContent {
    flex-direction: column;
    gap: 32px;
    min-height: auto;
    padding: 0 16px 24px;
  }
  
  .sidebar {
    order: 2;
    width: 100%;
    padding-top: 0;
  }
  
  .content {
    order: 1;
    min-height: 300px;
    padding: 0 10px;
  }
  
  .card {
    width: 100%;
    max-width: 500px;
    min-height: 350px;
  }
}