/* NetworksHeader.module.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px 0;
}

.title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.buttonRed {
    cursor: pointer;

    padding: 12px 24px;
    border: 1px solid #E8EDF2;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 500;
    color: #333;
    white-space: nowrap;

    background: #E8EDF2;

    transition: all 0.2s ease;
}

.buttonRed:hover {
    border-color: #38E47A;
    color: white;
    background: #38E47A;
}

@media (width <=768px) {
    .header {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .title {
        font-size: 20px;
    }

    .buttonRed {
        align-self: flex-end;
    }
}