.property-list {
  padding-top: 8px;
  font-family: Poppins, sans-serif;
}

.row-actions {
  display: flex;
  gap: 16px;

  margin-bottom: 12px;
  margin-left: 0;
  padding-left: 0;

  font-family: Poppins, sans-serif;
  color: #6b7280;
}

.property-list__ul {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;

  height: auto;
  max-height: 60vh;
  margin: 0;
  padding: 0;

  list-style: none;
}

.property-item {
  display: flex;
  gap: 12px;
  align-items: center;

  padding: 8px;
  border-radius: 8px;

  transition: background-color 0.2s ease;
}

.property-item:hover {
  background-color: #f8fafc;
}

.property-item__thumb {
  flex-shrink: 0;

  width: 80px;
  height: 60px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;

  object-fit: cover;
  background: #f3f4f6;
  box-shadow: 0 1px 2px rgb(0 0 0 / 4%);
}

.property-item__info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.property-item__title {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #111827;
}

.price {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.property-item__address {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  color: #3b82f6;
}

.property-item__address:hover {
  text-decoration: underline;
}

.row-actions :global(.icon-btn) {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: #374151;
}

.row-actions :global(.icon-btn) svg {
  width: 20px;
  height: 20px;
  opacity: .8;
  stroke: #374151;
}

.row-actions :global(.icon-btn):hover svg {
  opacity: 1;
}