/* stylelint-disable order/properties-order */

.toast-container {
  position: fixed;
  z-index: 9999;
  top: 85px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
}

.toast-container > * {
  pointer-events: auto;
}

/* ============================================
   RESPONSIVE
   ============================================ */
@media (width <= 640px) {
  .toast-container {
    top: 16px;
    right: 16px;
    left: 16px;
    align-items: stretch;
  }
}
