/* stylelint-disable order/properties-order */

.content {
  padding: 2rem;
}

/* 🔹 Encabezado */
.header {
  margin-bottom: 2rem;
}

.headerText {
  text-align: left;
}

.title {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  margin: 0;

  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0f172a;
}

.subtitle {
  margin-top: 0.5rem;
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
  color: #6b7280;
  line-height: 1.5;
}

/* 🔹 Formulario */
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
  min-width: 0;
}

@media (width >=1024px) {
  .formGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  min-width: 0;

  /* Permite que el grid funcione correctamente */
}

/* 🔹 Botón */
.buttonContainer {
  display: flex;
  justify-content: flex-end;
}