.auth_container {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../../assets/edificio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.auth_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(56, 228, 122, 0.15);
    z-index: 0;
}

.auth_container > * {
    position: relative;
    z-index: 1;
}

