.forgot_password_container {
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-image: url('../../../assets/edificio.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.forgot_password_container::before {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    background: rgb(56 228 122 / 15%);
}

.forgot_password_container > * {
    position: relative;
    z-index: 1;
}

.card {
    width: 100%;
    max-width: 480px;
    padding: 35px 35px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
    text-align: center;
}

.card h1 {
    margin: 0 0 10px;
    font-size: 28px;
    color: #333;
}

@media screen and (max-width: 650px) {
    .card {
        max-width: 100%;
        padding: 25px 20px;
    }
}
