/* 
 * ESTILOS PRINCIPALES DEL COMPONENTE LOGIN
 */

body {
    margin: 0px;
}

.login {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    background: #fff;
    font-family: "Poppins", sans-serif;
}

.login_container {
    width: 50%;
    max-width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.copyright {
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #e5e7eb;
}

.copyright p {
    font-size: 12px;
    color: #9ca3af;
}

.login_image {
    box-sizing: border-box;
    background-color: white;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.login_image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .login_image {
        display: none;
    }

    .login_container {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
    
    .remember_forgot {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}