.register {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #fff;
    font-family: "Poppins", sans-serif;
}

.register_container {
    width: 50%;
    max-width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

.register_image {
    box-sizing: border-box;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.register_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Responsive */
@media (max-width: 768px) {
    .register_image {
        display: none;
    }

    .register_container {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
    }
}