/* stylelint-disable order/properties-order */

.menu-label {
  margin-bottom: 6px;
  padding: 0 20px 10px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;

  color: #9ca3af;
}
