/* src/features/dashboard/components/CalendarSection/CalendarSection.module.css */
.calendarSection {
  display: flex;
  flex-direction: column;

  width: 350px;
  height: 400px;
  padding: 24px;
  border: 1px solid #f0f0f0;
  border-radius: 9px;

  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;

  background: white;
  box-shadow: 0 8px 30px rgb(0 0 0 / 8%);
}