/* stylelint-disable order/properties-order, font-family-name-quotes */

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;
  
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
