/* Layout principal con Flexbox */
.container {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  overflow: hidden;
  flex: 0 0 260px;
  height: 100vh;
}

.main {
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;

  height: 100vh;
}

.headerWrapper {
  display: flex;
  flex: 0 0 72px;
  align-items: stretch;
  width: 100%;
}

.content {
  overflow-y: auto;
  flex: 1;
  padding: 32px;
  background-color: #E1EDE6;
}

/* Scrollbar personalizado */
.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #d1d5db;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}