.container {
    position: relative;

    overflow: hidden;

    width: 1200px;
    height: 750px;
    border-radius: 24px;

    background: #fff;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}

.container h1 {
    margin: -10px 0 8px;
    font-size: 32px;
}

.container p {
    margin: 12px 0;
    font-size: 13px;
}

form {
    width: 100%;
}

.form_box_no_flip {
    width: 100%;
    height: 100%;
    padding: 40px;

    color: #333;
    text-align: center;
}

.form_box_login {
    position: absolute;
    z-index: 1;
    right: 0;

    display: flex;
    align-items: center;

    width: 50%;
    height: 100%;
    padding: 40px;

    color: #333;
    text-align: center;

    background: #fff;

    transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form_box_login {
    right: 50%;
}

.toggle_box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle_box::before {
    content: "";

    position: absolute;
    z-index: 1;
    left: -250%;

    width: 300%;
    height: 100%;
    border-radius: 150px;

    background: #38E47A;

    transition: 1.8s ease-in-out;
}

.container.active .toggle_box::before {
    left: 50%;
}

.toggle_panel_left,
.toggle_panel_right {
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;

    color: #fff;

    transition: 0.6s ease-in-out;
}

.toggle_panel_left {
    left: 0;
    transition-delay: 1.2s;
}

.container.active .toggle_panel_left {
    left: -50%;
    transition-delay: 0.6s;
}

.toggle_panel_right {
    right: -50%;
    transition-delay: 0.6s;
}

.container.active .toggle_panel_right {
    right: 0;
    transition-delay: 1.2s;
}

.toggle_panel_left p,
.toggle_panel_right p {
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;

    width: 160px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 600;
    color: #fff;

    background: transparent;
}

@media screen and (width <=650px) {
    .container {
        height: calc(100vh - 40px);
    }

    .form_box_login {
        bottom: 0;
        width: 100%;
        height: 70%;
    }

    .container.active .form_box_login {
        right: 0;
        bottom: 30%;
    }

    .toggle_box::before {
        top: -270%;
        left: 0;

        width: 100%;
        height: 300%;
        border-radius: 20vw;
    }

    .container.active .toggle_box::before {
        top: 70%;
        left: 0;
    }

    .container.active .toggle_panel_left {
        top: -30%;
        left: 0;
    }

    .toggle_panel_left,
    .toggle_panel_right {
        width: 100%;
        height: 30%;
    }

    .toggle_panel_left {
        top: 0;
    }

    .toggle_panel_right {
        right: 0;
        bottom: -30%;
    }

    .container.active .toggle_panel_right {
        bottom: 0;
    }
}

@media screen and (width <=400px) {
    .form_box_login {
        padding: 20px;
    }

    .toggle_panel_left h1,
    .toggle_panel_right h1 {
        font-size: 30px;
    }
}