.container {
    position: relative;
    width: 1200px;
    height: 750px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.container h1 {
    font-size: 42px;
    margin: -10px 0;
}

.container p {
    font-size: 14.5px;
    margin: 15px 0;
}

form {
    width: 100%;
}

.form_box_login {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 50px;
    z-index: 1;
    transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form_box_login {
    right: 50%;
}

.toggle_box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle_box::before {
    content: "";
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: #38E47A;
    border-radius: 150px;
    z-index: 1;
    transition: 1.8s ease-in-out;
}

.container.active .toggle_box::before {
    left: 50%;
}

.toggle_panel_left,
.toggle_panel_right {
    position: absolute;
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.6s ease-in-out;
}

.toggle_panel_left {
    left: 0;
    transition-delay: 1.2s;
}

.container.active .toggle_panel_left {
    left: -50%;
    transition-delay: 0.6s;
}

.toggle_panel_right {
    right: -50%;
    transition-delay: 0.6s;
}

.container.active .toggle_panel_right {
    right: 0;
    transition-delay: 1.2s;
}

.toggle_panel_left p,
.toggle_panel_right p {
    margin-bottom: 20px;
}

.btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

@media screen and (max-width: 650px) {
    .container {
        height: calc(100vh - 40px);
    }

    .form_box_login {
        bottom: 0;
        width: 100%;
        height: 70%;
    }

    .container.active .form_box_login {
        right: 0;
        bottom: 30%;
    }

    .toggle_box::before {
        left: 0;
        top: -270%;
        width: 100%;
        height: 300%;
        border-radius: 20vw;
    }

    .container.active .toggle_box::before {
        left: 0;
        top: 70%;
    }

    .container.active .toggle_panel_left {
        left: 0;
        top: -30%;
    }

    .toggle_panel_left,
    .toggle_panel_right {
        width: 100%;
        height: 30%;
    }

    .toggle_panel_left {
        top: 0;
    }

    .toggle_panel_right {
        right: 0;
        bottom: -30%;
    }

    .container.active .toggle_panel_right {
        bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .form_box_login {
        padding: 20px;
    }

    .toggle_panel_left h1,
    .toggle_panel_right h1 {
        font-size: 30px;
    }
}
